@use '../custom' as *;
@use'../components/mixins' as *;

.bg-video {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: .25;
    z-index: 1; // Ensure the video is behind the text
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.landing {
    @include gradient-initial;
    min-height: 100vh;
    position: relative; // Ensures that the text can be positioned within this context
    z-index: 2; // Ensure it layers above the video
}

.intro-section {
    padding: 10rem 0 0 0;
    position: relative; // Ensure this section is positioned correctly relative to the landing
    z-index: 3; // Higher than the background video
}

.introstext {
    margin-left: 10%;
    padding-top: 10%;
    position: relative; // Ensure z-index works
    z-index: 4; // Highest z-index to ensure it's above the video and any other content
}


.intro-btn{
    margin-left: 10%;
    margin-top: 10%;
}





.gradient-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(234, 127, 94, 0.9), rgba(85, 81, 168, 0.9));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    transition: background 0.3s ease, width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease;



   

/* Media query for smaller screens */
    @media only screen and (max-width: 800px) {
      
          width: 100px;
          height: 100px;
          border-radius: 50%;
          @include gradient-initial; 
          top: 50px;
          left:100px;
          margin: 2rem;
       
          transition: width 0.2s, height 0.2s, top 0.2s; 
         
        
      }
    
}


.inner-square {

        width: 71%; /* Size adjustment for the inner square */
        height: 71%;
        background: linear-gradient(
        to right, 
        #562648 15%,    /* This color will take up 10% of the space */
        #a8a8a8 35%,             /* This color will take up from 10% to 25% */
        #6987C9 45%, /* From 25% to 45% */
                     /* This color will take up more space, from 45% to 65% */
         #a8a8a8 80%, /* From 75% to 85% */
                 /* Narrow band again */
         #a99047 100% /* Final color from 95% to 100% */
    );
        position: absolute;
        opacity: 0.2; /* Fully opaque */
    
    
}




.logo-text {
    text-align: center;
    color: black;
    font-family: 'Arial', sans-serif;
    z-index: 1; /* Ensures text is above the inner square */
}

.logo-text .main-title {
    font-size: 28px;
    font-weight: 800;
    text-transform: lowercase;
}

.logo-text .subtitle {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.logo-text .location {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin-top: 4px;
}

//GRADIENT BACKGROUND CLASS
.gradient-bg {
    background-color: grey;
}

